<a href="https://colab.research.google.com/github/rajiv1817/NLP/blob/main/NLP_REGULAR_EXPRESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NLP regular expressions

In [2]:
import re
pattern = r"\d{3}"  #2 digit numbers
text = " I joined in gitam in 2007 as Assistant Professor"
print(re.findall(pattern,text))

['200']

In [3]:
import re
pattern = r"\d{1,3}"  #2 digit numbers
text = " I joined in gitam in 2007 as Assistant Professor at 9 Am"
print(re.findall(pattern,text))

['200', '7', '9']

In [10]:
import re
pattern = r"\b\d{1,3}\b"  #2 digit numbers  you can find your aadhar, Pan number
text = " I joined in gitam in 2007 as Assistant Professor at 9 Am"
print(re.findall(pattern,text))

['9']

In [11]:
import re
pattern = r"\S"  #White Spaces
text = " I joined in gitam in 2007 as Assistant Professor at 9 Am"
print(re.findall(pattern,text))

['I', 'j', 'o', 'i', 'n', 'e', 'd', 'i', 'n', 'g', 'i', 't', 'a', 'm', 'i', 'n', '2', '0', '0', '7', 'a', 's', 'A', 's', 's', 'i', 's', 't', 'a', 'n', 't', 'P', 'r', 'o', 'f', 'e', 's', 's', 'o', 'r', 'a', 't', '9', 'A', 'm']

In [12]:
import re
pattern = r"[a-p]"  # Characters
text = " I joined in gitam in 2007 as Assistant Professor at 9 Am"
print(re.findall(pattern,text))

['j', 'o', 'i', 'n', 'e', 'd', 'i', 'n', 'g', 'i', 'a', 'm', 'i', 'n', 'a', 'i', 'a', 'n', 'o', 'f', 'e', 'o', 'a', 'm']

In [13]:
import re
pattern = r"[a-p]|[0-9]"  #number and digits
text = " I joined in gitam in 2007 as Assistant Professor at 9 Am"
print(re.findall(pattern,text))

['j', 'o', 'i', 'n', 'e', 'd', 'i', 'n', 'g', 'i', 'a', 'm', 'i', 'n', '2', '0', '0', '7', 'a', 'i', 'a', 'n', 'o', 'f', 'e', 'o', 'a', '9', 'm']

In [14]:
import re
pattern = r"[A-Z]"  #number and digits
text = " I joined in gitam in 2007 as Assistant Professor at 9 Am"
print(re.findall(pattern,text))

['I', 'A', 'P', 'A']

In [15]:
import re
pattern = r"Assist"  #useful in text mining
text = " I joined in gitam in 2007 as Assistant Professor at 9 Am Assist"
print(re.findall(pattern,text))

['Assist', 'Assist']

In [34]:
import re
pattern = r"[^joined]"  #begining
text = "I joined in gitam in 2007 as Assistant Professor at 9 Am Assist"
print(re.findall(pattern,text))

['I', ' ', ' ', ' ', 'g', 't', 'a', 'm', ' ', ' ', '2', '0', '0', '7', ' ', 'a', 's', ' ', 'A', 's', 's', 's', 't', 'a', 't', ' ', 'P', 'r', 'f', 's', 's', 'r', ' ', 'a', 't', ' ', '9', ' ', 'A', 'm', ' ', 'A', 's', 's', 's', 't']

In [35]:
import re
pattern = r"[gitam$]"  #ending
text = "I joined in gitam Gitam in 2007 as Assistant Professor at 9 Am Assist"
print(re.findall(pattern,text))

['i', 'i', 'g', 'i', 't', 'a', 'm', 'i', 't', 'a', 'm', 'i', 'a', 'i', 't', 'a', 't', 'a', 't', 'm', 'i', 't']

In [36]:
import re
pattern = r"Assist*"  # likw 0 or more occurance of t followed by Assis
text = "I joined in gitam in 2007 as Assistant Professor at 9 Am Assis"
print(re.findall(pattern,text))

['Assist', 'Assis']

In [37]:
import re
pattern = r"Assist+"  # likw 1 or more occurance of t followed by Assis
text = "I joined in gitam in 2007 as assistant Professor at 9 Am Assis"
print(re.findall(pattern,text,re.IGNORECASE))

['assist']

In [38]:
import re
pattern = r"[^A-Z]"  #number and digits
text = " I joined in gitam in 2007 as Assistant Professor at 9 Am"
print(re.findall(pattern,text))

[' ', ' ', 'j', 'o', 'i', 'n', 'e', 'd', ' ', 'i', 'n', ' ', 'g', 'i', 't', 'a', 'm', ' ', 'i', 'n', ' ', '2', '0', '0', '7', ' ', 'a', 's', ' ', 's', 's', 'i', 's', 't', 'a', 'n', 't', ' ', 'r', 'o', 'f', 'e', 's', 's', 'o', 'r', ' ', 'a', 't', ' ', '9', ' ', 'm']

In [39]:
import re
pattern = r"[0-7][0-9]"  #number and digits
text = " I got 78 marks out of 99 in nlp"
print(re.findall(pattern,text))

['78']

In [40]:
import re
pattern = r"[A-Z][A-Z][A-Z][A-Z][A-Z][0-0][0-9][0-0][0-9][A-Z]"  #Pan number
text = " I got 78 marks out of 99 in nlp"
print(re.findall(pattern,text))

[]